@mixin clearfix {
    &::after {
      content: '';
      display: table;
      clear: both;
    }
  }
  
  @mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  // MEDIA QUERY MANGER
  /*
  0 - 360pxpx:      Phone
  360 - 425px
  360 - 768px:    Tablet portrait
  768 - 1200px:   Tablet landscape
  [1200 - 1300]  is where our normal styles apply
  1300px + :      Big desktop
  */
  
  /*
  $breakpoint argument choises
  
  - phone
  - tab-port
  - tab-land
  - big-desktop
  
  
  1em = 16px
  */
  
  @mixin respond($breakpoint) {
    @if $breakpoint == phone {
      @media (max-width: 22.5em) {
        @content;
      } //360px
    }
    @if $breakpoint == big-phone {
      @media (max-width: 26.6em) {
        @content;
      } //425px
    }
    @if $breakpoint == tab-port {
      @media (max-width: 48em) {
        @content;
      } //768px
    }
    @if $breakpoint == tab-land {
      @media (max-width: 75em) {
        @content;
      } //1200px
    }
    @if $breakpoint == big-desktop {
      @media (min-width: 81.25em) {
        @content;
      } //1300px
    }
  }