$color-primary-light:  #56B27B;
$color-primary-dark:  #104f67;


$color-gray-dark: #707070;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;
$color-gray-light: #DCDFE6;

$color-white: #fff;
$color-black:#2d2d2d;
$color-black-1:#000;

$color-border: #dedede;

$color-background: #f6f6f6;

$color-notifications: #ff0000;

//Font
$defaulf-font-size: 1.6rem;