.slide-fade-enter-active {
    transition: all .3s ease;
  }
  .slide-fade-leave-active {
    transition: all .2s ease;
  }
  .slide-fade-enter { 
    transform: translateY(-50px);
    opacity: 0;
  }
  .slide-fade-leave-to {
   transform: translateY(-50px);
    opacity: 0; 
  }